<div class="container">
	<div class="row">
	  <div class="span8" style="border:solid;">
	  	<div class="view-image">
		  	<div class="border-image">
		  		<img src="img/productos/product1.jpg" class="img-circle" />
		  		<span class="title-image">Nombre del producto</span>
			</div>
			<div class="border-options">
				<div class="option1"><span class="fui-check"></span></div>
				<div class="option2"><span class="fui-check"></span></div>
				<div class="option3"><span class="fui-check"></span></div>
			</div>
		</div>
	  </div>
	  <div class="span3" style="border:solid;">...</div>
	</div>
</div>