<div class="container">
	<div class="row">
	  <div class="span8" style="border:solid;">
		<form class="form-inline search-supplier">
			<label for="inputProveedor">Rubro</label>
			    <select>
			      <option>-------</option>
				  <option>Textil</option>
				  <option>Lacteos</option>
				  <option>Bebidas</option>
				</select>
		  	<label for="inputProveedor">Proveedor</label>
			    <select>
			      <option>--------</option>
				  <option>Nestle</option>
				  <option>Backus</option>
				  <option>Florida</option>
				  <option>Gloria</option>
				</select>
		</form>

	  	<hr>
	  	<div class="view-image">
		  	<div class="border-image">
		  		<img src="img/productos/product1.jpg" class="img-circle" />
		  		<span class="title-image">Nombre del producto</span>
			</div>
			<div class="border-options">
				<div class="option1"><span class="fui-check"></span></div>
				<div class="option2"><span class="fui-check"></span></div>
				<div class="option3"><span class="fui-check"></span></div>
			</div>
		</div>

		<div class="pagination pagination-inverse pagination-supplier">
            <a href="#fakelink" class="btn btn-inverse previous">
              <i class="fui-arrow-left"></i>
              OLDER
            </a>
            <ul>
              <li><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
            </ul>
            <a href="#fakelink" class="btn btn-inverse next">
              NEWER
              <i class="fui-arrow-right"></i>
            </a>
          </div>
	  </div>
	  <div class="span3 info-solicitude" style="border:solid;">
	  		<div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-info active" href="#" tab-click ngModel="tab1" ng-model="tab1"><i class="fui-time"></i></a>
                  <a class="btn btn-info" href="#" tab-click  ng-model="tab2"><i class="fui-photo"></i></a>
                  <a class="btn btn-info" href="#" tab-click  ng-model="tab3"><i class="fui-heart"></i></a>
                  <a class="btn btn-info" href="#" tab-click  ng-model="tab4"><i class="fui-eye"></i></a>
                </div>
            </div>
          <div class="tabs">
   			    <div class="thumbnail" id="time-supplier" style="border:solid;" ng-show="tab1">
                  <div class="caption">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
             </div>
             <div class="thumbnail" id="photo-supplier" style="border:solid;" ng-show="tab2">
                  <div class="caption">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
             </div>
             <div class="thumbnail" id="rewies-supplier" style="border:solid;" ng-show="tab3">
                  <div class="caption">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
             </div>
          </div>
	  </div>
	</div>
</div>