
<div class="demo-row">
    <div class="demo-row typography-row">
        <h1><span class="header-note"></span>List Frameworks</h1>
    </div>
    <div class="control-group huge">
        <div class="input-append">
          <input class="span2" id="appendedInputButton-01" type="text" placeholder="Search" ng-model="query">

        </div>
    </div>

        <div class="demo-content-wide" style="margin-top: 4em">
          <table class="table table-striped">
            <tbody><tr>
              <th>Id</th>
              <th>Name</th>
              <th>Rating</th>
              <th>Options</th>
            </tr>
            <tr ng-repeat="framework in frameworks | filter:query |orderBy:Rating:true">
              <td>{{ framework.id }}</td>
              <td>{{ framework.name }}</td>
              <td>{{ framework.Rating }}</td>
              <td><a href="#/detail"><i class="fui-check-inverted text-primary"></i></a></td>
            </tr>
          </tbody></table>
        </div>
      </div>
