<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello World Peru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../../../libs/flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../../libs/flat-ui/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../../../libs/flat-ui/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../../libs/flat-ui/images/favicon.ico">
  </head>
  <body>
<div class="demo-row">
    <div class="demo-row typography-row">
        <h1><span class="header-note"></span>List Frameworks</h1>
    </div>
        <div class="demo-content-wide">
          <table class="table table-striped">
            <tbody><tr>
              <th>Id</th>
              <th>Name</th>
              <th>Rating</th>
              <th>Options</th>
            </tr>
            <tr>
              <td>1</td>
              <td>The Shawshank Redemption</td>
              <td>1994</td>
              <td><a href="#/detail"><i class="fui-check-inverted text-primary"></i></a></td>
            </tr>
          </tbody></table>
        </div>
      </div>
  <script src="../../../libs/flat-ui/js/jquery-1.8.3.min.js"></script>
  </body>
</html>
